@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Rubik", sans-serif;
	@apply text-primary-light dark:text-primary-dark scroll-smooth;
}

.profile-img {
    animation: morph 8s ease-in-out infinite;
    @apply lg:h-80 lg:w-80 w-60 h-60 relative outline outline-4 outline-accent/30 dark:outline-accent/20 drop-shadow-lg bg-no-repeat bg-center bg-[url(/logo.png)] rounded-[60%_40%_30%_70%/60%_30%_70%_40%]
}

.follow {
    transform:
        perspective(2000px)
        rotateY(var(--rotateY))
        rotateX(var(--rotateX));
    transform-style: preserve-3d;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

svg > path,
svg > g
{
    @apply stroke-1.5
}

svg.thick > path,
svg.thick > g {
    @apply stroke-[2.5]
}

svg.social {
    @apply transition-all
}

svg.social:hover > path,
svg.social:hover > g {
    @apply stroke-accent transition-all
}

svg.post-views > path,
svg.post-views > g {
    @apply stroke-[2] !stroke-primary-dark/60 dark:!stroke-primary-light/60
}
svg.help > path,
svg.help > g {
    @apply stroke-[2] !stroke-primary-dark/60 dark:!stroke-primary-light/60 group-hover:!stroke-sky-500 dark:group-hover:!stroke-sky-500 transition
}

button[disabled] {
    @apply opacity-50 cursor-not-allowed pointer-events-none
}

.font-code,
code
{
	@apply text-lg !font-code
}



*:not(input[type="text"]):focus-visible {
    @apply ring-2 ring-white/60 outline-0
}

input[type="text"]:focus-visible {
	@apply ring-0 outline-0
}

pre {
    @apply text-start pb-8 pt-0 px-3 rounded-b text-base !overflow-x-auto relative !font-code
}
pre * {
	@apply text-base !font-code
}
code {
    @apply relative
}
code#code {
    @apply bg-secondary-light dark:bg-secondary-dark/40 px-1 py-0.5 rounded text-base !font-code
}
#pre-wrap {
    @apply w-full relative
}
#titlebar {
    @apply w-full p-3 relative bg-titlebar rounded-t
}
#file-name {
    @apply text-sm text-primary-dark/80 !font-code
}
#copy-to-clipboard {
    @apply p-1 rounded bg-secondary-light/5 hover:bg-secondary-light/10 dark:hover:bg-secondary-dark/30 cursor-pointer transition-all absolute top-1/2 -translate-y-1/2 right-2 z-[999]
}
#copy-to-clipboard svg {
    @apply !stroke-primary-light
}

/* Blog Post Styling */
#post-content {
	@apply text-lg
}
#post-content > h1 {
	@apply text-4xl mt-8 pb-2 border-b-2 border-border-light/10 dark:border-border-dark/10
}
#post-content > h2 {
	@apply text-3xl mt-8
}
#post-content > h3 {
	@apply text-2xl
}
#post-content .task-list-item {
	@apply list-none
}
#post-content li {
	@apply pl-2
}
#post-content ul,
#post-content ol {
	@apply list-outside ml-10
}
#post-content ul {
	@apply list-["🎨"]
}
#post-content ol {
	@apply list-decimal
}
#post-content > p code,
#post-content > ul li code,
#post-content > ol li code,
#post-content > h1 code,
#post-content > h1 code,
#post-content > span code,
#post-content > blockquote p code {
	@apply bg-secondary-light dark:bg-secondary-dark/40 px-0.5 py-0.5 rounded text-base !font-code
}
blockquote,
.blockquote {
	@apply p-5 border-l-4 border-btn-light dark:border-secondary-dark rounded bg-nav-light/80 dark:bg-nav-dark/20 text-base
}
#post-content > p,
#post-content > p del,
#post-content > p a,
#post-content > blockquote p,
#post-content > p code {
    @apply text-primary-light/80 dark:text-primary-dark/80
}
#post-content > p a,
#post-content > ul li a {
    @apply border-b-2 border-export transition-all hover:!text-export
}
#post-content > p {
    @apply text-justify
}
#post-content input[type="checkbox"] {
    transform: translateY(0.1em);
    @apply appearance-none bg-secondary-light/50 dark:bg-secondary-dark/50 items-center w-6 h-6 rounded
}
#post-content input[type="checkbox"]:checked::before {
    content: url("/checkmark.svg");
    @apply pl-0.5
}
#post-content > table {
    @apply block w-full overflow-x-auto lg:py-0 py-3
}
#post-content > table tr td {
    @apply border-2 border-border-light/20 dark:border-border-dark/20 p-5
}
#post-content > table tr td.rightright {
    @apply bg-secondary-light dark:bg-secondary-dark
}
#post-content > table tr td h4 {
    @apply m-0 p-0 font-normal
}
/* #post-content #table-of-contents {
    @apply fixed top-1/2 -translate-y-1/2 left-5
}
ul:first-of-type {
    @apply fixed top-2/3 -translate-y-1/2 left-5
} */

/* Animations */
@keyframes scale {
    from {
        transform: scale(100%);
    }
    50% {
        transform: scale(100.5%);
    }
    to {
        transform: scale(100%);
    }
}

/* Scroll Bar */
*::-webkit-scrollbar {
    @apply w-3 h-3
}
html:is(.dark) *::-webkit-scrollbar-track {
    @apply !bg-primary-dark
}
*::-webkit-scrollbar-track {
    @apply bg-primary-light
}

html:is(.dark) *::-webkit-scrollbar-thumb {
    @apply !border-primary-dark
}
*::-webkit-scrollbar-thumb {
    @apply rounded-lg border-solid border-[3] bg-scroll-light/80 dark:bg-secondary-dark/80 hover:bg-scroll-light dark:hover:bg-secondary-dark border-primary-light 
}